name: Auto Assign
on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
jobs:
  auto-assign:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: 'Auto-assign reviewer'
        uses: wow-actions/auto-assign@v3.0.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          numberOfReviewers: 1
          reviewers: |
            gpalacios2001
          skipKeywords: wip, draft
          skipDraft: true
      - name: 'Auto-assign issue'
        uses: pozil/auto-assign-issue@v2
        with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
            assignees: mkpro118
            numOfAssignee: 1
